<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<h1>ユーザ更新編集</h1>
<body>
<form th:action="@{/update}" th:object="${UserUpdateDto}" th:method="post">
    <input type="hidden" th:field="*{id}" />
    <table>
        <tr>
            <th>名前</th>
            <td><input type="text" class="form-control" th:field="*{name}"></td>
        </tr>
        <tr>
            <th>メール</th>
            <td><input type="text" class="form-control" th:field="*{mail}"></td>
        </tr>
        <tr>
            <th>住所</th>
            <td><input type="text" class="form-control" th:field="*{address}"></td>
        </tr>
        <tr>
            <th>電話番号</th>
            <td><input type="text" class="form-control" th:field="*{telephone}"></td>
        </tr>
    </table>
    <input type="submit" class="btn btn-secondary" value="　保存　">
    <a th:href="@{/detailUser(id=*{id})}" class="btn btn-secondary">キャンセル</a>
</form>
</body>
</html>