<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<h1>ユーザ更新編集</h1>
<body>
<form th:action="@{/update}" th:object="${UserUpdateDto}" th:method="post">
    <input type="hidden" th:field="*{id}" />
    名前：<input type="text" class="form-control" th:field="*{name}">
    <br>
    メール：<input type="text" class="form-control" th:field="*{mail}">
    <br>
    <input type="submit" class="btn btn-primary" value="　保存　">
    <a th:href="@{/detailUser(id=*{id})}" class="btn btn-secondary">キャンセル</a>
</form>
</body>
</html>