<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<h1>ユーザ新規登録</h1>
<body>
    <form th:action="@{/insert}" th:object="${UserRequestDto}" method="post">
        名前：<input type="text" th:field="*{name}"><br>
        生年月日：<input type="date" th:field="*{birthday}"><br>
        メールアドレス：<input type="text" th:field="*{email}"><br>
        住所：<input type="text" th:field="*{address}"><br>
        電話番号：<input type="text" th:field="*{telephone}"><br>
        <input type="submit" value="登録" class="btn">
    </form>
</body>
</html>