<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<h1>ユーザ一覧</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>名前</th>
        <th>生年月日</th>
        <th>メールアドレス</th>
        <th>住所</th>
        <th>電話番号</th>
    </tr>
    <tr th:each="user :${userList}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.birthday}"></td>
        <td th:text="${user.mail}"></td>
        <td th:text="${user.address}"></td>
        <td th:text="${user.telephone}"></td>
        <td><a th:href="@{/detailUser(id=${user.id})}" class="btn btn-secondary">詳細</a></td>
    </tr>
</table>
<a href="http://localhost:8080/">
    <button type="button">ホーム画面</button>
</a>

</body>
</html>